@using Microsoft.AspNetCore.Identity
@using ExpenseTracker.Areas.Identity.Data

@inject SignInManager<ExpenseTrackerUser> SignInManager
@inject UserManager<ExpenseTrackerUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/22.2.5/material.css" />*@
    <link href="https://cdn.syncfusion.com/ej2/22.2.5/bootstrap5-dark.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/747ea1855d.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ExpenseTracker.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/747ea1855d.js" crossorigin="anonymous"></script>
    <script src="https://cdn.syncfusion.com/ej2/22.2.5/dist/ej2.min.js"></script>
</head>
<body class="e-bigger">

    <partial name="_SideBar" />
       
    <div class="dock-target">
        <nav class="navbar sticky-top">
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_LoginPartial.cshtml" />
            </div>
        </nav>

        <div class="main-content " style="margin-bottom:100%">
            <div class="container mt-5">
                <div class="row justify-content-center">
                    @if (SignInManager.IsSignedIn(User)){
                        <div class="@(ViewData["isDashboard"] == null?"col-md-10":"col-md-12")">
                            <main role="main" class="pb-3">
                                @if (ViewData["isDashboard"] == null)
                                {
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="d-flex flex-column mb-5">
                                                <div class="d-flex mb-1">
                                                    <div class="flex-grow-1">
                                                        <h3 class="fw-bold">@ViewData["PageTitle"]</h3>
                                                    </div>
                                                    <div>
                                                        @if (ViewData["PageActionText"] != null)
                                                        {
                                                            <a class="btn btn-success" href="@ViewData["PageActionUrl"]">
                                                                @ViewData["PageActionText"]
                                                            </a>
                                                        }
                                                    </div>
                                                </div>
                                                <ejs-breadcrumb id="breadcrumb" separatorTemplate="@Html.Raw("<span class='fa-solid fa-angle-right'></span>")">
                                                    </ejs-breadcrumb>
                                            </div>
                                        </div>
                                    </div>
                                }

                                @RenderBody()
                            </main>
                        </div>
                        
                    }else{                      
                        @RenderBody()
                    }

                </div>
            </div>
        </div>
    </div> 

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <ejs-scripts></ejs-scripts>
</body>
</html>
